/**
    COLOR

    Where all color's variables are defined

    Thanks to SASS Map, we can define all colors at one place.
    We also respect our BEM like notation and files architecture.
*/

$palettes: (
    action: (
        link: #999
    ),
    button: (
        background: #EAE8E8,
        background--highlight: #1B472C,
        background--hover: darken(#EAE8E8, 10%),
        background--highlight-hover: darken(#1B472C, 5%),
        color: rgba(34,34,34,0.5),
        color--highlight: #fff
    ),
    error: (
        color: #f10,
        text-color: #333,
        text-color--invert: #fff
    ),
    flash: (
        background--error: #f10,
        background--success: #76d443,
        background--warning: #efe778,
        border: #333,
        color: #333,
        color--invert: #fff
    ),
    footer: (
        background: #222,
        color: #555,
        color--highlight: #999
    ),
    form: (
        background: #fff,
        border: #eee,
        border--focus: #333,
        color: #555,
        color--highlight: #333,
        label-color: #999
    ),
    header: (
        background: rgba(242,231,201,0.90),
        background--highlight: rgba(242,231,201,0.90),
        color: rgba(34,34,34,0.9),
        label-color: #222222,

        border--color: #1B472C
    ),
    layout: (
        background: #fff,
        border: #eee,
        close-color: #222222,
        color: #999,
        content-background: #f8f8f8,
        content-border: #bbb,
        loading-color: #333
    ),
    loader: (
        background: #222,
        background--highlight: #1B472C
    ),
    product: (
        background: #f8f8f8,
        border: #eee,
        color--error: #f10,
        color--highlight: #333
    ),
    quantity-trigger: (
        background: #ccc,
        background--hover: #efe778,
        background--disabled: #eee,
        color: #1B472C,
        color--disabled: #bbb
    ),
    static: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--link: #999
    ),
    step: (
        background: #EAE8E8,
        background--active: #fff,
        border: rgba(34,34,34,0.1),
        color: rgba(34,34,34,0.5),
        color--active: rgba(34,34,34,0.9)
    ),
    table: (
        background--highlight: #f8f8f8,
        border: #eee,
        color--highlight: #333,
        color--success: #76d443
    ),
    tooltip: (
        background: #ccc,
        border: #ccc transparent,
        label: #555,
        text: #111
    )
);